<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Buscar inmueble
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div class="div_general xc">
    <div class="div_mayor">
      <form [formGroup]="formBusqueda" (ngSubmit)="search()">
        <ion-grid>
          <ion-row justify-content-center>
            <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
              <div text-center>
              </div>
              <div padding>
                <ion-item>
                  <ion-label position="floating">Tipo de búsqueda:</ion-label>
                  <ion-select formControlName="tipoBusqueda" placeholder="Seleccionar">
                    <ion-select-option value="compra">Compra</ion-select-option>
                    <ion-select-option value="alquiler">Alquiler</ion-select-option>
                    <!--<ion-select-option value="inmobiliaria">Inmobiliaria</ion-select-option>-->
                  </ion-select>
                </ion-item>
                <ion-item>
                  <ion-label position="floating">Tipo de inmueble:</ion-label>
                  <ion-select formControlName="tipoVivienda" placeholder="Seleccionar">
                    <ion-select-option value="apartamento">Apartamento</ion-select-option>
                    <ion-select-option value="vivienda">Vivienda</ion-select-option>
                    <ion-select-option value="local">Local comercial</ion-select-option>
                  </ion-select>
                </ion-item>
                <ion-item>
                  <ion-label position="floating">Ciudad:</ion-label>
                  <ion-select formControlName="ciudad" placeholder="Seleccionar">
                    <ion-select-option value="Buga">Buga</ion-select-option>
                    <ion-select-option value="Cali">Cali</ion-select-option>
                    <ion-select-option value="Palmira">Palmira</ion-select-option>
                    <ion-select-option value="Tulua">Tuluá</ion-select-option>
                  </ion-select>
                </ion-item>
              </div>
                  <p class="ion-text-end">
                    <a routerLink="/tabs/tab3">Cerca a mi ubicación</a>
                  </p>
              <div padding>
                <ion-button type="submit" [disabled]="formBusqueda.invalid" expand="block">Buscar</ion-button>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </form>
    </div>
  </div>
</ion-content>
