<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Iniciar sesión
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div class="div_general xc">
    <div class="div_mayor">
      <form [formGroup]="formLogin" (ngSubmit)="onLogin()">
        <ion-grid>
          <ion-row justify-content-center>
            <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
              <div text-center>
                <h3></h3>
              </div>
              <div padding>
                <ion-item>
                  <ion-label><ion-icon name="person"></ion-icon></ion-label>
                  <ion-input formControlName="email" type="email" placeholder="email or username  " required></ion-input></ion-item>
                <ion-item>
                  <ion-label><ion-icon name="key"></ion-icon></ion-label>
                  <ion-input formControlName="password" type="password" placeholder="Password" required></ion-input></ion-item>
              </div>
                  <p class="ion-text-end">
                    <a routerLink="/register">Registrarme</a>
                  </p>
              <div padding>
                <ion-button type="submit" [disabled]="formLogin.invalid" expand="block">Ingresar</ion-button>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </form>
      <ion-row>
        <ion-col>
          <ion-button type="submit" (click)="onLoginGoogle()" color="danger" expand="block" >
            <ion-icon name="logo-google"></ion-icon>
            Acceder con Google
          </ion-button>
        </ion-col>
      </ion-row>
    </div>
  </div>
</ion-content>
