ion-item {
    --background: #3dc2ff;
    --color: white;
    font-weight: bold;
}

ion-button {
    --background: #3880ff;
}

a {
    color: black;
}

ion-content {
    width: 100% auto !important;
}

img{
    display:block;
    margin:auto;
    }

.div_mayor{
    margin-bottom: 20px;
    width:auto;
    margin:auto;
    height: 200px auto;
    //background: #3dc2ff;
    padding: 20px;
    border-radius: 10px;
    ion-button {
        border-color: brown;
    }
    ion-item{
        padding: 3px;
        margin-top: 10px !important;        
        border-radius: 10px;
        border-style: solid;
        border-color: #062f77;        
    }  
}

.div_general {
    height: 100%;
    padding: 10px;
}
  
.xc {
    display: flex;
    align-items: center;
    justify-content: center;
}