<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Resultados</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let vivienda of viviendas; index as i">
    <ion-card-header class="card-header">
      <ion-card-title class="card-title">{{ vivienda.marker.title }}</ion-card-title>
      <!--<img src="http://placehold.it/420x420">-->
      <img src="https://creatuaplicacion.com/wp-content/uploads/2019/02/crear-inmuebles.png">
      <ion-card-subtitle class="card-subtitle"></ion-card-subtitle>
      <ion-label class="card-description">{{ vivienda.descripcion }}</ion-label>
    </ion-card-header>
    <ion-card-content class="card-content">
      <ion-item>
        <ion-icon name="logo-usd"></ion-icon>
        <ion-label class="card-info">{{ vivienda.valor }}</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="call-outline"></ion-icon>
        <ion-label class="card-info">{{ vivienda.contacto.telefono }}</ion-label>
      </ion-item>
      <ion-item class="card-options">
        <ion-button fill="outline">
          <ion-icon name="information-circle-outline"></ion-icon>
        </ion-button>
        <ion-button fill="outline" disabled>
          <ion-icon name="heart-outline"></ion-icon>
        </ion-button>
        <ion-button fill="outline" disabled>
          <ion-icon name="logo-whatsapp"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
