<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Nuevo inmueble</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="secondary" padding>
  <div class="div_general xc">
    <div class="div_mayor">
      <form [formGroup]="formInmueble" (ngSubmit)="registrarInmueble()">
        <ion-grid >
          <ion-row color="secundary" justify-content-center>
            <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
              <div text-center>
                <h5>Ingresar todos los campos para completar el registro del inmueble.</h5>
              </div>
              <div padding>
                <ion-item>
                  <ion-label position="floating">Tipo de inmueble</ion-label>
                  <ion-select formControlName="tipoInmueble" placeholder="Seleccionar">
                    <ion-select-option value="apartamento">Apartamento</ion-select-option>
                    <ion-select-option value="vivienda">Vivienda</ion-select-option>
                    <ion-select-option value="local">Local</ion-select-option>
                  </ion-select>
                </ion-item>
                <ion-item>
                  <ion-label position="floating">Este inmueble estará disponible para:</ion-label>
                  <ion-select formControlName="tipo" placeholder="Seleccionar">
                    <ion-select-option value="compra">Venta</ion-select-option>
                    <ion-select-option value="alquiler">Alquiler</ion-select-option>
                  </ion-select>
                </ion-item>
                <ion-item>
                  <ion-label position="floating">Ciudad en donde está ubicado el inmueble:</ion-label>
                  <ion-select formControlName="ciudad" placeholder="Seleccionar">
                    <ion-select-option value="Buga">Buga</ion-select-option>
                    <ion-select-option value="Cali">Cali</ion-select-option>
                    <ion-select-option value="Palmira">Palmira</ion-select-option>
                    <ion-select-option value="Tulua">Tuluá</ion-select-option>
                  </ion-select>
                </ion-item>
                <ion-item>
                  <ion-input formControlName="direccion" type="text" placeholder="Dirección"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-input formControlName="title" type="text" placeholder="Título o descripción corta"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-input formControlName="descripcion" type="text" placeholder="Descripción del inmueble" required></ion-input>
                </ion-item>
                <ion-item>
                  <ion-input formControlName="valor" type="text" placeholder="Valor del inmueble" required></ion-input>
                </ion-item>
              </div>
              <div style="padding-top: 10%;">
                    <ion-button type="submit" [disabled]="formInmueble.invalid" expand="block">
                      <ion-icon name="create-outline"></ion-icon>
                      Guardar
                    </ion-button>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </form>
    </div>
  </div>
</ion-content>
