ion-item{
    --background: #3dc2ff;
    --color: white;
    font-weight: bold;
}

ion-button{
    height: 40px;
    --background: #062f77;
    font-weight: bold;
}

a, h5 {
  color: white;  
  font-weight: bold;
}
