<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Crear cuenta</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="secondary" padding>
  <div class="div_general xc">
    <div class="div_mayor">
      <form [formGroup]="formRegister" (ngSubmit)="registrar()">
        <ion-grid >
          <ion-row color="secundary" justify-content-center>
            <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
              <div text-center>
                <h5>Ingresar todos los campos para completar el registro.</h5>
              </div>
              <div padding>
                <ion-item>
                  <ion-input formControlName="name" type="text" placeholder="Nombres" required></ion-input>
                </ion-item>
                <ion-item>
                  <ion-input formControlName="lastName" type="text" placeholder="Apellidos" required></ion-input>
                </ion-item>
                <ion-item>
                  <ion-input formControlName="email" type="email" placeholder="email@hogar.com" required></ion-input>
                </ion-item>
                <ion-item>
                  <ion-input formControlName="tel" type="tel" placeholder="Teléfono" required></ion-input>
                </ion-item>
                <ion-item>
                  <ion-input formControlName="username" type="text" placeholder="Nombre de usuario" required></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label position="floating">Tipo de usuario</ion-label>
                  <ion-select formControlName="typeUser" placeholder="Seleccionar">
                    <ion-select-option value="usuario">Usuario básico</ion-select-option>
                    <ion-select-option value="arrendador">Arrendador</ion-select-option>
                    <ion-select-option value="vendedor">Vendedor</ion-select-option>
                    <ion-select-option value="inmobiliaria">Empresa</ion-select-option>
                  </ion-select>
                </ion-item>
                <ion-item>
                  <ion-input formControlName="password" type="password" placeholder="Contraseña" required></ion-input>
                </ion-item>
                <ion-item>
                  <ion-input formControlName="confirm" type="password" placeholder="Confirmar contraseña" required></ion-input>
                </ion-item>
              </div>
              <ion-row>
                <ion-col>
                  <p>
                    <a routerLink="../tabs/tab2">¿Ya tienes una cuenta? Pulsa aquí para ingresar</a>
                  </p>
                </ion-col>
              </ion-row>
              <div style="padding-top: 10%;">
                    <ion-button type="submit" [disabled]="formRegister.invalid" expand="block">
                      <ion-icon name="create-outline"></ion-icon>
                      Regristrarse
                    </ion-button>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </form>
    </div>
  </div>
</ion-content>