<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Búsqueda</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="card-busqueda">
    <form [formGroup]="formBusqueda" (ngSubmit)="search()">
      <ion-grid>
        <ion-row justify-content-center>
          <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
            <div text-center>
            </div>
            <div padding>
              <ion-item>
                <ion-label position="floating">Tipo de búsqueda:</ion-label>
                <ion-select formControlName="tipoBusqueda" placeholder="Seleccionar">
                  <ion-select-option value="compra">Compra</ion-select-option>
                  <ion-select-option value="alquiler">Alquiler</ion-select-option>
                  <!--<ion-select-option value="inmobiliaria">Inmobiliaria</ion-select-option>-->
                </ion-select>
              </ion-item>
              <ion-item>
                <ion-label position="floating">Tipo de inmueble:</ion-label>
                <ion-select formControlName="tipoVivienda" placeholder="Seleccionar">
                  <ion-select-option value="apartamento">Apartamento</ion-select-option>
                  <ion-select-option value="vivienda">Vivienda</ion-select-option>
                  <ion-select-option value="local">Local comercial</ion-select-option>
                </ion-select>
              </ion-item>
              <ion-item>
                <ion-label position="floating">Ciudad:</ion-label>
                <ion-select formControlName="ciudad" placeholder="Seleccionar">
                  <ion-select-option value="Buga">Buga</ion-select-option>
                  <ion-select-option value="Cali">Cali</ion-select-option>
                  <ion-select-option value="Palmira">Palmira</ion-select-option>
                  <ion-select-option value="Tulua">Tuluá</ion-select-option>
                </ion-select>
              </ion-item>
              <ion-button color="primary" type="submit" [disabled]="formBusqueda.invalid" expand="block">Buscar</ion-button>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </ion-card>
  <ion-card *ngFor="let vivienda of viviendas; index as i">
    <ion-card-header class="card-header">
      <ion-card-title class="card-title">{{ vivienda.marker.title }}</ion-card-title>
      <!--<img src="http://placehold.it/420x420">-->
      <img src="https://creatuaplicacion.com/wp-content/uploads/2019/02/crear-inmuebles.png">
      <ion-card-subtitle class="card-subtitle"></ion-card-subtitle>
      <ion-label class="card-description">{{ vivienda.descripcion }}</ion-label>
    </ion-card-header>
    <ion-card-content class="card-content">
      <ion-item>
        <ion-icon name="logo-usd"></ion-icon>
        <ion-label class="card-info">{{ vivienda.valor }}</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="call-outline"></ion-icon>
        <ion-label class="card-info">{{ vivienda.contacto.telefono }}</ion-label>
      </ion-item>
      <ion-item class="card-options">
        <ion-button fill="outline">
          <ion-icon name="information-circle-outline"></ion-icon>
        </ion-button>
        <ion-button fill="outline">
          <ion-icon name="heart-outline"></ion-icon>
        </ion-button>
        <ion-button fill="outline">
          <ion-icon name="logo-whatsapp"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
