.btn-buscar {
    height: 40px;
    --background: #073e9c;
    font-weight: bold;
}

ion-content {
    margin-top: 20px;
    --background: #9bb9e0;
    ion-card {
        ion-card-content {
            --background: green; 
        }
    }
}

.card-subtitle, .card-title {
    font-weight: bold;
    color: black;
}

.card-header {
    padding: 10px;
}

.card-description {
    color: black;
    padding-top: 10px;
    margin-top: 10px;
}

.card-content {
    --background: #9bb9e0;
}

.card-info {
    color: black;
    font-weight: bold;
    margin-left: 10px;
}

.card-options {
    align-items: center;
}