<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
    </ion-buttons>
    <ion-title>Dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-item color="primary">
      <h6 style="font-weight: bold;">{{ user.name }} {{ user.lastName }}</h6>
    </ion-item>
    <ion-item>
      <ion-note item-end color="primary" style="font-weight: bold;">{{ user.email }}</ion-note>
    </ion-item>
  </ion-card>
  <ion-card class="cards-list-demo">
    <ion-card-header color="primary" style="font-weight: bold;">
      EXPLORAR
    </ion-card-header>
        <ion-item href="#" class="activated" (click)="irBuscador()">
          <ion-icon name="search-circle-sharp" slot="start"></ion-icon>
          <ion-label>Buscar inmueble</ion-label>
        </ion-item>
        <ion-item href="#" class="activated" (click)="prueba()">
            <ion-icon name="heart-sharp" slot="start"></ion-icon>
            <ion-label>Favoritos</ion-label>
        </ion-item>
        <ion-item href="#" class="activated" (click)="prueba()">
            <ion-icon name="person-circle-outline" slot="start"></ion-icon>
            <ion-label>Perfil</ion-label>
        </ion-item>
        <ion-item href="#" class="activated" color="danger" (click)="signOut()" >
            <ion-icon name="log-out" slot="start"></ion-icon>
            <ion-label>Cerrar sesión</ion-label>
        </ion-item>
  </ion-card>
</ion-content>
